@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* front-family */
body {
  font-family: "Open Sans", sans-serif;
}
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 200px 30px 200px;
}
/* share style */
.text-center {
  text-align: center;
}
.dark-2 {
  color: #474747;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.primary-text {
  color: #fd6e0a;
}
nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}
.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}
/* banner style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px;
}
.banner-content {
  max-width: 585px;
  max-height: 355px;
}
.banner-gritting {
  font-weight: 600;
  font-size: 45px;
}
.banner-title {
  font-weight: bold;
  font-size: 85px;
}
.banner-description {
  font-size: 18;
}

.banner-profile-picture {
  width: 580px;
  height: 670px;
}

/* about */

.about {
  background-color: #fff8f3;
  margin: 50px 150px;
  padding: 50px 100px;
  border-radius: 10px;
}
.about-body {
  margin: 50px 100px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
}

.about-body h1 {
  text-align: center;
  font-weight: bold;
  margin: 0px;
}
.about-body p {
  color: #757575;
  margin: 20px 0px;
  text-align: justify;
  text-align-last: center;
  line-height: 25px;
}
.about-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-title {
  color: #757575;
  /* font-size: 20px; */
}
.about-description {
  font-weight: bold;
  margin: 0px;
  color: #474747 !important;
  margin-top: 0px;
}
.what-i-do {
  margin: 50px 150px;
  padding: 50px 100px;
  text-align: center;
}
.what-i-do-title {
  font-weight: bold;
  font-size: 35px;
}
.what-i-do-description {
  color: #757575;
  font-size: 18px;
}
/* skills */
.skills {
  margin: 50px 150px;
  display: flex;
  gap: 30px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.resume {
  margin: 50px 150px;
}
.resume-container {
  display: flex;
  gap: 25px;
}
.section-title {
  text-align: center;
  /* margin: 100px; */
  font-weight: bold;
  font-size: 40px;
}
.b-g {
  background-color: #fff8f3;
}
footer {
  display: flex;
  gap: 100px;
  padding: 130px 230px;
}
.footer-column {
  width: 50%;
}
footer input[type="text"] {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
footer input[type="email"] {
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
footer textarea {
  height: 180px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
